@verticalMargin: 16px;
@gutter: 8px;
@linkColor: darken(rgb(124, 170, 241), 25%);

body {
  font-size: 21px;
  background: rgb(239, 226, 183);
  font-family: 'Open Sans', 'sans-serif';
  line-height: 1.2em;
}

section {
  max-width: 960px;
  margin: 12% auto;
  text-align: center;
  padding: 0 4%;
}

header {
  background: #fff;
  padding: 16px 32px;

  h1 {
    float: left;
  }

  nav {
    float: right;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

img {
  max-width: 100%;
}

#logo, #v {
  float: left;
}

#logo {
  width: 33%;
}

#v {
  width: 66%;
}

/* http://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-container {
  position: relative;
  padding-bottom: 54%;
  padding-top: 25px;
  height: 0;
  
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}